@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #eef9bf;
}
.conteudo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contador {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 230px;
    height: 100px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 50px;
}
.contador h1 {
    padding: 0 5px;
}
.topo {
    margin: 0 auto;
}
.topo .titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #75B79E;
    font-size: 56px;
}
.cards {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    width: auto;
    height: auto;
    background-color: rgb(45, 227, 164);
    border-radius: 15px;
    box-shadow: 5px 5px 3px black;
}
.card {
    position: relative;
    height: 125px;
    width: 165px;
    margin-bottom: 80px;
}

.face {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 2px solid #99CEA8;
    margin: 0 15px 30px 15px;
    background-color: #A7E9AF;
    border-radius: 8px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    z-index: 1;
}
.card img {
    margin: 30px 10px;
    width: 100px;
    height: 100px;
}
.back {
    transform: rotateY(180deg);
  }
  .rodarprafrente{
    transform: rotateY(0deg);
  }
  .rodarpratras{
    transform: rotateY(-180deg);
  } 